/* see how these custom styles are smooshed down by Parcel 
into the same production css file as the Tailwind styles */

img {
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  img {
    width: 50vw;
    margin-top: -12em;
  }
  @media (orientation: landscape) {
    img {
      margin-top: -6em;
    }
  }
}

@media only screen and (min-width: 1920px) {
  img {
    width: 25vw;
    margin-top: -6em;
  }
}
